extends base


block content 
    section.section__login
        .authBox.login_wrap
            h1.authHeading Login
            .container
                .row
                    .col-sm-12.col-lg-12.col-md-12
                        form(action='' class="auth_form login_form")
                            .authForm_group
                                input.login_username.authForm_field( placeholder='Username' type='text')
                                label.authForm_label(for='Username') Username
                            .authForm_group
                                input.login_password.authForm_field( placeholder='Password' type='password')
                                label.authForm_label(for='Password') Password
                            .authForm_btn
                                button Login
            p.signUpLine Not a member?
                a(href="/signup")  Signup!
